body { overflow-x: hidden; }
/*顶部按钮及标题*/
.top-bar { width: 100%; height: 1.8rem; background: #323137; display: none; }
.top-return { display: block; width: 20%; height: 100%; background: url(../icon/top-return-bg.png) 0.4rem center no-repeat; background-size: 0.72rem; text-indent: 1.04rem; font-size: 0.6rem; line-height: 1.8rem; color: #fff; float: left;}
.top-title { width: 60%; height: 100%; font-size: 0.6rem; line-height: 1.8rem; text-align: center; color: #fff; float: left; }
.top-more { display: block; width: 20%; height: 100%; background: url(../icon/top-more-bg.png) center no-repeat; background-size: 0.72rem; float: left; }

/*头部*/
.header { width: 100%; height: 1.408rem; background: #41dd7c; }
.search-input { -webkit-appearance: none; width: 70%; border-radius: 0 0.48rem 0.48rem 0; height: 0.96rem; border: 0; margin-top: 0.224rem; font-size: 0.384rem; line-height: 0.96rem; color: #999999; float: left; }
.search-submit { width: 10%; height: 0.96rem; margin-left: 0.32rem; margin-top: 0.224rem; border: 0; border-radius: 0.48rem 0 0 0.48rem; background: #fff url(../icon/search-icon.png) 0.384rem center no-repeat; background-size: 0.416rem; float: left; }
.user-center { display: block; width: 16%; height: 100%; background: url(../icon/user-center.png) center no-repeat; background-size: 0.656rem 0.72rem; float: right; }
.user-center-header { text-align: center; font-size: 0.544rem; color: #fff; line-height: 1.408rem; position: relative; }
.header-little-title { width: 26%; height: 1.408rem; font-size: 0.544rem; line-height: 1.408rem; text-align: center; color: #fff; float: left; }
.ny-search-submit { margin-left: 0; }
.ny-search-input { width: 60%; }
.header-back { display: block; position: absolute; left: 0; top: 0; width: 1.248rem; height: 1.408rem; background-image: url(../icon/back.png); background-position: center; background-repeat: no-repeat; background-size: 0.288rem 0.512rem; }


/*首页轮播图*/
.index-swiper { width: 100%; height: 5.6rem; }
.index-slide { width: 100%; height: 5.6rem; }
.index-slide a { display: block; width: 100%; height: 5.6rem; background-position: center; background-repeat: no-repeat; background-size: auto 5.6rem; }

/*首页卡片*/
.card-box { width: 100%; margin: 0.32rem 0 0 2.6%; }
.card { display: block; border-radius: 0.08rem; float: left; margin: 0 2.6% 0.32rem 0; font-size: 0.576rem; text-align: center; color: #fff; }
.card-single { width: 46%; height: 3.248rem; background-repeat: no-repeat; background-position: center; background-size: auto 3.248rem; line-height: 3.248rem; }
.card-double { width: 46%; height: 6.816rem; background-repeat: no-repeat; background-position: center; background-size: auto 6.816rem; line-height: 6.816rem; }
.card-triple { width: 94.6%; height: 4.8rem; background-repeat: no-repeat; background-position: center; background-size: auto 4.8rem; line-height: 4.8rem; }

/*border 最小值为0.02rem 不然没有显示*/

/*选项卡*/
.tab-box { width: 100%; border-bottom: 0.02rem solid #ddd }
.tab-item { height: 1.328rem; }
.tab-item-on { border-bottom: 0.064rem solid #41dd7c; }
.tab-item a { display: block; text-align: center; line-height: 1.328rem; font-size: 0.448rem; color: #333; }


/*列表*/
.business-box, .travle-box { width: 95%; margin: 0 2.5%; }
.business-list, .travle-list { padding: 0.32rem 0; border-bottom: 0.02rem solid #ddd; }
.business-list:last-child, .travle-list:last-child { border-bottom: 0; }
.business-list a { display: block; height: 2.56rem; padding-left: 4.32rem; position: relative; font-size: 0; color: #333; }
.travle-list a { display: block; height: 2.56rem; padding-left: 4.32rem; position: relative; font-size: 0; color: #333; }
.business-list img { width: 4rem; height: 2.56rem; position: absolute; left: 0; top: 0; }
.travle-list img { width: 4rem; height: 2.56rem; position: absolute; left: 0; top: 0; }
.business-list-title, .travle-list-title { font-size: 0.544rem; line-height: 0.6rem; max-height: 1.2rem; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.business-list-route, .travle-company, .business-tel { position: absolute; bottom: 0; display: block; height: 0.448rem; font-size: 0.448rem; line-height: 0.5rem; color: #666; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.travle-price { position: absolute; bottom: 0.65rem; display: block; height: 0.448rem; font-size: 0.448rem; line-height: 0.5rem; color: #666; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.travle-price-number { color: #ff7100; }
.business-man { bottom: 0.8rem; }

/*用户中心*/
.user-card { width: 100%; margin-bottom: 0.32rem; background: #fff; }
.user-card-info { padding: 0.48rem 3% 0.48rem 2.5%; }
.user-info { height: 2.56rem; padding-left: 4.32rem; position: relative; font-size: 0; color: #333; padding-top: 0.352rem; font-size: 0.544rem; line-height: 0.928rem; }
.user-info img { width: 4rem; height: 2.56rem; position: absolute; left: 0; top: 0; }
.user-name { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.up-load-avatar { display: block; font-size: 0.384rem; line-height: 2.56rem; color: #999; margin-top: -0.352rem; background-image: url(../icon/user-item-arror.png); background-repeat: no-repeat; background-position: right 0 center; background-size: 0.416rem 0.528rem; }
.up-load-avatar-input { position: absolute; top: 0; right: 0; width: 100%; height: 2.56rem; opacity: 0; }


.message-number { min-width: 0.384rem; height: 0.384rem; display: block; position: absolute; top: 0.192rem; left: 2.608rem; border-radius: 0.192rem; background: #f00; color: #fff; font-size: 0.32rem; line-height: 0.384rem; text-align: center; }
.user-card-manage, .user-card-feed { padding: 0 0.32rem; }
.user-card-item { height: 1.376rem; border-bottom: 1px solid #f2f2f2; position: relative; }
.user-card-item a { display: block; padding-left: 0.864rem; font-size: 0.448rem; line-height: 1.376rem; color: #333333; background-size: 0.576rem 0.528rem; background-position: 0 center; background-repeat: no-repeat; }
.user-card-item-arror { position: absolute; right: 0; top: 0.432rem; width: 0.416rem; height: 0.528rem; display: block; background-image: url(../icon/user-item-arror.png); background-repeat: no-repeat; background-size: 0.416rem 0.528rem; }
.user-card-feed-item a { background-size: 0.576rem 0.592rem; background-position: 0 0.352rem; }

.user-info-input span { width: 2.656rem; height: 1.376rem; display: block; float: left; line-height: 1.376rem; text-align: left; color: #999999; font-size: 0.448rem; }
.user-info-input input { width: 8.7rem; height: 1.34rem; display: block; border: 0; outline: 0; float: right; }

/*退出当前账号*/
.logout { display: block; width: 92%; height: 1.408rem; background: #41dd7c; color: #fff; text-align: center; font-size: 0.576rem; line-height: 1.408rem; border-radius: 0.16rem; margin: 0.64rem 4% 0.432rem; }







/*尾部冲抵*/
.behind-footer { width: 100%; height: 1.584rem; }

/*尾部*/
.footer { width: 100%; height: 1.568rem; position: fixed; bottom: 0; border-top: 0.02rem solid #ddd; background: #fff; z-index: 1000; }
.home, .business, .travle, .user { display: block; width: 25%; height: 0.624rem; float: left; padding-top: 0.944rem; font-size: 0.352rem; line-height: 0.624rem; text-align: center; color: #666; }
.home { background: url(../icon/home.png) center 0.144rem no-repeat; background-size: auto 0.72rem; }
.home-on { background: url(../icon/home-on.png) center 0.144rem no-repeat; background-size: auto 0.72rem; color: #41dd7c; }
.business { background: url(../icon/business.png) center 0.144rem no-repeat; background-size: auto 0.72rem; }
.business-on { background: url(../icon/business-on.png) center 0.144rem no-repeat; background-size: auto 0.72rem; color: #41dd7c; }
.travle { background: url(../icon/travle.png) center 0.144rem no-repeat; background-size: auto 0.72rem; }
.travle-on { background: url(../icon/travle-on.png) center 0.144rem no-repeat; background-size: auto 0.72rem; color: #41dd7c; }
.user { background: url(../icon/user.png) center 0.144rem no-repeat; background-size: auto 0.72rem; }
.user-on { background: url(../icon/user-on.png) center 0.144rem no-repeat; background-size: auto 0.72rem; color: #41dd7c; }



/*详情页*/
.common-card { width: 100%; padding-left: 0.32rem; padding-right: 0.32rem; margin-bottom: 0.32rem; background: #fff; }

.detail-back { position: fixed; left: 0.32rem; top: 0.224rem; z-index: 1000; width: 0.96rem; height: 0.96rem; background: #000 url(../icon/back.png) 0.304rem 0.224rem no-repeat; background-size: 0.288rem 0.512rem; border-radius: 0.48rem; opacity: 0.4; }

.detail-swiper { width: 100%; height: 7.68rem; }
.detail-slide { width: 100%; height: 100%; }
.detail-slide a { display: block; width: 100%; height: 100%; background-size: auto 7.68rem; }

.detail-title { font-size: 0.544rem; line-height: 0.928rem; padding-top: 0.272rem; color: #333333; padding-bottom: 0.272rem; border-bottom: 1px solid #f2f2f2; }

.detail-tag-item { border: 1px solid #ff7100; border-radius: 0.08rem; color: #ff7100; line-height: 0.512rem; font-size: 0.384rem; padding: 0 0.288rem; }
.detail-tag-item:first-child { margin-left: 0.64rem; }

.detail-price { margin-top: 0.256rem; padding-bottom: 0.24rem; }
.detail-price li { height: 0.96rem; font-size: 0; }
.detail-price-name { display: inline-block; width: 3.12rem; height: 0.96rem; font-size: 0.448rem; color: #666666; line-height: 0.96rem; }
.detail-price-number { display: inline-block; height: 0.96rem; font-size: 0.544rem; color: #ff7100; line-height: 0.96rem; }

.detail-little-title { width: 100%; height: 1.488rem; font-size: 0.544rem; line-height: 1.488rem; color: #333; border-bottom: 1px solid #f2f2f2; }
.detail-little-maintext { font-size: 0.448rem; line-height: 0.784rem; padding-top: 0.208rem; padding-bottom: 0.416rem; color: #666666; text-align: justify; }

.travle-date { margin-top: 0.48rem; padding-bottom: 0.48rem; }
.travle-date li { width: 2.112rem; height: 1.408rem; border: 0.032rem solid #ccc; border-radius: 0.128rem; margin-right: 0.48rem; float: left; }
.day { display: block; width: 100%; text-align: center; font-size: 0.576rem; line-height: 0.448rem; margin: 0.24rem auto 0; color: #41dd7c; }
.year-month { display: block; width: 100%; text-align: center; font-size: 0.384rem; line-height: 0.336rem; margin: 0.208rem auto 0; color: #666666; }

.tab-item-a-on { color: #41dd7c!important; }

.tab-little-title { width: 100%; text-align: center; font-size: 0; padding: 0.48rem 0 0.592rem; }
.tab-little-title-line { display: inline-block; background: url(../icon/tab-little-title-line.png) repeat-x; background-size: 0.72rem 0.64rem !important; }
.tab-little-title-text { display: inline-block; font-size: 0.64rem; color: #333; line-height: 0.64rem; padding: 0 0.32rem; margin: 0 0.72rem; background: #fff; }

.impor-text { line-height: 0.768rem; color: #41dd7c; font-size: 0.448rem; }
.impor-title { font-size: 0.544rem; line-height: 0.768rem; }
#xcts-card, #jtxc-card, #fysm-card, #zysx-card { position: relative; }
.card-anchor-point { position: absolute; top: -1.328rem; }
.xcts-list { margin-top: 0.528rem; padding-bottom: 0.576rem; }
.xcts-list li { padding-left: 0.464rem; line-height: 0.768rem; background: url(../icon/xcts-list-icon.png) 0 0.24rem no-repeat; background-size: 0.256rem; }

.jtxc-list { padding-bottom: 0.576rem; }
.jtxc-list li { background: url(../icon/jtxc-left-bg.png) 0 0 repeat-y; background-size: 1.216rem auto; margin-bottom: 0.288rem; }
.jtxc-list-left { width: 1.216rem; float: left; }
.jtxc-day-number { display: block; font-size: 0.96rem; color: #41dd7c; font-weight: 100; background: #fff; }

.jtxc-list-right { width: 9.792rem; float: right; }
.jtxc-route { display: block; font-size: 0.544rem; color: #333; margin-top: 0.36rem; }
.meal { font-size: 0.448rem; line-height: 0.768rem; color: #666; margin-right: 0.96rem; }
.sleep { font-size: 0.448rem; line-height: 0.768rem; color: #666; margin-right: 0.96rem; }
.jtxc-detail-text { display: block; font-size: 0.448rem; line-height: 0.768rem; color: #666; }
.fysm-main-text, .zysx-main-text { font-size: 0.448rem; line-height: 0.768rem; color: #666; padding-bottom: 0.448rem; }

.detail-footer { padding-left: 0.32rem; padding-right: 0.32rem; font-size: 0; }
.collection, .forward-price, .forward-noprice, .find-error { display: block; float: left; margin-top: 0.128rem; width: 2.72rem; height: 1.28rem; font-size: 0.384rem; line-height: 1.28rem; border-radius: 0.096rem; color: #fff; }
.collection, .forward-price, .forward-noprice { margin-right: 0.16rem; }
.collection { background: #41dd7c url(../icon/collection.png) 0.544rem 0.416rem no-repeat; background-size: 0.416rem 0.4rem; text-indent: 1.168rem; }
.forward-price { background: #ff7100 url(../icon/forward.png) 0.096rem 0.4rem no-repeat; background-size: 0.4rem 0.416rem; text-indent: 0.544rem; }
.forward-noprice { background: #49a6c5 url(../icon/forward.png) 0.096rem 0.4rem no-repeat; background-size: 0.4rem 0.416rem; text-indent: 0.544rem; }
.find-error { background: #13b5b1 url(../icon/find-error.png) 0.496rem 0.352rem no-repeat; background-size: 0.432rem 0.528rem; text-indent: 1.168rem; }


/*结束*/